<!-- List of heroes -->
<div class="container">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-4">
            <h2 class="heroesTitle">My Heroes</h2>
            <ul class="heroes">
                <li *ngFor="let hero of heroes">
                    <a routerLink="/detail/{{hero.id}}">
                        <span class="badge">{{hero.id}}</span> {{hero.name}}
                    </a>
                    <button class="delete" title="delete hero" (click)="delete(hero)">
                        x
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-xl-4">
            <div class="addHero">
                <h2>Add Hero</h2>
                <label id="new-hero">Hero name: </label>
                <input for="new-hero" #heroName />
            
                <!-- (click) passes input value to add() and then clears the input -->
                <button class="add-button" (click)="add(heroName.value); heroName.value=''">
                    ADD
                </button>
            </div>
            <div class="col-xl-8">
                <app-messages></app-messages>
            </div>
        </div>
    </div>
</div>